name: ci
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Configure git for private modules
        env:
          TOKEN: ${{ secrets.CI_PERSONAL_ACCESS_TOKEN }}
        run: git config --global --add url."https://lekkoci:${TOKEN}@github.com".insteadOf "https://github.com"
      - uses: bufbuild/buf-setup-action@v1
        with:
          buf_user: ${{ secrets.BUF_USER }}
          buf_api_token: ${{ secrets.BUF_API_TOKEN }}
          github_token: ${{ secrets.CI_PERSONAL_ACCESS_TOKEN }}
      - name: setup-go
        if: success()
        uses: actions/setup-go@v2
        with:
          go-version: 1.19.7
      - name: ci
        if: success()
        run: make ci
